################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dacia_Engine/.vs/Dacia_Engine/v15/Browse.VC.db
